<table id="content" style="max-width: 580px; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;"><tr><td style="border-collapse: collapse; padding: 0 0 0 15px;">
  <tr>
    <td>

      <h1><%= human_document_type %></h1>

      <p>
        The following <%= document_noun %> has been <%= updated_or_published %>
        <%= document_url %>
      </p>

      <h2><%= document_title %></h2>

      <p>
        <%= document_summary %>
      </p>

    </td>
  </tr>
</table>
